<p id="notice"><%= notice %></p>

<p>
	<b><%= @tag.name %>
  's posts:</b><br><br>  	
  <% @posts = Post.by_tag(@tag.name) %>
  <% @posts.each do |p| %>
  	<b>Title:</b>
  	<%= link_to p.title, user_post_path(@user,p) %><br>
  	----------------
  <%end%>
</p>


<%= link_to 'Back', @user %>
