/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
div.content {
	width: 1000px;
	position: absolute;
	margin-left: -500px;
	left: 50%;
	background-color: #0066FF;

}
div.header {
	background-color: #6699FF;
	color: #C0C0C0;
	height: 150px;
	width: 980px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
div.sidebar {
	background-color: #00CCFF;
	border-style: solid;
	border-width: 2px;
	float: left;
	width: 178px;
	height: 163px;
}
div.info {
	background-color: #00CCFF;
	float: left;
	margin-left: 10px;
	width: 800px;
}
div.footer {
	background-color: #6699FF;
	color: #C0C0C0;
	height: 150;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 980px;
}
div.link {
	font-size: 10px;


}
div.sidebar img{
	float: left;
	clear: left;
	width: 50px;
	margin-left: 64px;
}

h1.inside_title{
	margin: 0;
	font-size: 15px;
	float: left;
}

div.sidebar a{
	float: left;
	margin-left: 5px;
	font-size: 10px;
	text-decoration: none;
}

div.sidebar a:hover{
	background-color: transparent;
	text-decoration: underline;
}